*{
    margin: 0;
    padding: 0;
}







.nodiko{
    cursor: pointer;
    overflow:hidden ;
    float: left;
    list-style: none;
    border: solid 1px;
    width: 250px;
    height: 40px;
    background-color: hsla(0, 0%, 0%, 0.281); 
    border-color: hsla(0, 0%, 0%, 0.315);
    position: relative;
    font-family: Arial;
    }




.nodiko a{
   align-items: center;
   text-decoration: none;
   display: flex;
   align-content: center;
   color: black;
   font-size: 20px;
}


nav div{
    list-style: none;
    font-size: 25px;
    float: left;
    text-align: center;
    
    border: solid 1px;
    width: 150px;
    height: 40px;
    background-color: hsl(0, 0%, 100%); 
    border-color: hsla(0, 0%, 0%, 0.315);
}


nav a{
    text-decoration: none;
    font-family: Arial;
    color:black ;
    

}

nav li{
    padding-top:5px ;
}




.dropmeniu{
    list-style: none;
    border: solid 1px;
    width: 240px;
    height: 50px;
    background-color: hsla(0, 0%, 0%, 0.521); 
    border-color: hsla(0, 0%, 0%, 0.315);
    display: block;
    position: relative;
    top:5px ;
    right: 3px;
    
}

.nodiko:hover{
    overflow:visible;
    border: solid 3px;
    transition:  ease-in-out;
    width: 246px;
}

.dropmeniu:hover{
    background-color: rgb(255, 255, 255);
    border: solid 3px;
    border-color: hsla(0, 0%, 0%, 0.315);

}


.img1{
    width: 50px;
    position: relative;
    bottom: 39px;
    right:50px ;
    mix-blend-mode: multiply;
    
}
.nodiko0{
    width: 1px;
    height: 30px;
    position: relative;
    left: 60px;
}

.login{
   background-color: hsl(0, 0%, 0%);
   width: 350px;
   height: 500px;
   position: relative;
   float: right;
   right: 77px;
   border-radius: 10px;
   top: 30px;
   color: white;
}

.login h1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 60px;
    top: 15px;
    color: white;

}




.login input{
    width: 300px;
    border-left:none ;
    border-right:none ;
    border-top:none ;
    border-bottom: solid;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    
}



.login1{
    background:conic-gradient(blue,red,red,blue);
   width: 365px;
   height: 515px;
   position: relative;
   float: right;
   left:280px ;
   border-radius: 10px;
   top: 20px;
   z-index: -1;
   bottom:1000px ;
   
   

}
 



.login button{
    width: 300px;
    font-size: 25px;
    border-radius: 5px;
    border: solid 2px  rgb(75, 73, 73);
    cursor: pointer;
    position: relative;
    top: 200px;
    left: 25px;
    height: 40px;
    
}




.input2{
    position: relative;
left: 25px;
top: 150px;



}






.input1{
    position: relative;
left: 25px;
top: 70px;



}



.nodiko img{
    width: 30px;
    position: relative;
    left: 10px;
}





.search{
    width: 300px;
    border-radius: 0 5px 5px 0;
    height: 40px;
    border-left: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 20px;
}

.search:focus{
    outline: none;
}



.button{
    height: 40px;
    float: left;
    
    width: 70px;
    border-radius: 5px 0 0 5px;
    margin-left: 20px;
    background-color: hsl(263, 100%, 34%) ;
    border: solid  hsl(263, 100%, 34%);
    cursor: pointer;
    font-size: 16px;

}

.login p{
    font-size: 25px;
    position: relative;
    top: 230px;
    left:33px ;
    color: rgb(253, 80, 80);
    font-family: Arial;
    display: none;





}

